<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="com.sharingplatform.usecase.query.UseCaseMapper" level="DEBUG"/>
    <logger name="com.sharingplatform.usecase.query.StatisticsMapper" level="DEBUG"/>
    <logger name="org.springframework.scheduling" level="INFO"/>
</configuration>

